* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

:root {
    --white: #F5F5F5;
    --gray: #EBEBEB;
    --red: #d43341;
    --darkgray: #6d6d6d;
    }     

body {
    background-color: var(--gray);
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    display: grid;
    grid-template-areas:
    'nv' 
    "mn"
    "ft";
}

.nav {

    position: fixed;
    display: flex;
    justify-content: space-between;
    grid-area: nv;
    min-width: 100vw;
    transition: all 1s ease;
    opacity: 100%;
    z-index: 21;
    transition: all 0.5s ease;
}

.navLinks {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    white-space: nowrap;
    align-items: center;
    background-color: transparent;
    text-align: center;
    width: 90vw;
}

.nav li {
    list-style: none;
    font-weight: 700;
}
.navLinks p:nth-child(1) {
    width: 18vw;
}
.navLinks p:nth-child(2) {
    width: 18vw;
}
.navLinks p:nth-child(3) {
    width: 18vw;
}
.navLinks p:nth-child(4) {
    width: 18vw;
}
.navLinks p:nth-child(5) {
    width: 18vw;
}

.navLinks li:nth-child(1) {
    cursor: pointer;
}
.navLinks li:nth-child(2) {
    cursor: default;
}
.navLinks li:nth-child(3) {
    cursor: pointer;
}
.navLinks li:nth-child(4) {
    cursor: pointer;
}
.navLinks li:nth-child(5) {
    cursor: default;
}

.navText {
    display: inline-block;
    position: relative;

}
.navText::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#nav-dropdown {
    height: 50vh;
    width: 100vw;
    position: fixed;
    background-color: var(--white);
    border: #6d6d6d;
    z-index: 20;
    justify-content: space-between;
    display: flex;
    z-index: 10;
    box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.1);
    align-items: center;
    transition: all ease 0.6s;
    padding-top: 0;
    top: -50vh;


}
.nav-dropdown-div {
    display: flex;
    max-width: 90vw;
    justify-content: flex-end;
    flex-wrap: nowrap;
    white-space: nowrap;
    position: absolute;
    right: 0;
    
}


.nav-dropdown-ul {
    list-style: none;
    font-weight: 700;
    text-align: center;
}

.nav-dropdown-ul li {
    cursor: pointer;
    margin-bottom: 0.66em;
    pointer-events: all;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.white-p {
    color: var(--white);
    pointer-events: none;
    display: none;
}


.nav-dropdown-ul:nth-child(1) {
    width: 18vw;
}

.nav-dropdown-ul:nth-child(2) {
    width: 18vw;
}

.nav-dropdown-ul:nth-child(3) {
    width: 18vw;
}

.nav-dropdown-ul:nth-child(4) {
    width: 18vw;
}

.nav-dropdown-ul:nth-child(5) {
    width: 18vw;
}

.navText:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer {
    grid-area: ft;
    background-color: var(--gray);
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 5em;
    padding-top: 1em;
}

main {
    display: grid;
    grid-template-areas: 
    's1'
    's2'
    's3';
    grid-template-columns: auto;
    grid-area: mn;
    max-width: 100vw;

}

.s1 {
    grid-area: s1;
    background-image: url(/img//white/markus-schmidt-wwTmJu0HxDg-unsplash.jpg);
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.05);
    z-index: 1;
}

.s1h {
    background-image: url(/img/QÂ´ente\ och\ Kronhusparken\ profilbild\ juni2017.jpg);
    background-size: cover;
}

.s1k {
    background-image: url(/img/white/markus-schmidt-wwTmJu0HxDg-unsplash.jpg);
    background-size: cover;
}

.s1o {
    background-image: url(/img/white/omoss.jpg);
    background-position-x: right;
    background-position-y: -1em;
    background-size: 120%;
}

h1 {
    font-weight: 200;
    letter-spacing: 10px;
    text-align: center;
}
.s2 {
    grid-area: s2;
    background-color: var(--gray);
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 5em;
    padding-bottom: 8em;
}

.s2h {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.s3 {
    grid-area: s3;
    background-color: var(--white);
    box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.05);
}

.s3h {
    position: relative;
    padding-bottom: 5em;
}

.arrow {
    width: 32px;
    aspect-ratio: 1/1;
    background-color: transparent;
    padding-top: 0em;    
    animation: arrow 1.5s infinite ease-in-out;
    z-index: 2;
}
#arrowleft, #arrowright {
    animation: none;
}

a {
    text-decoration: none;
    color: black;
}

.arrow-box {
    height: 10vh;
    width: 64px;
    bottom: 6em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
@keyframes arrow {
    0% {
            padding-top: 0em;
    }
    50% {
            padding-top: 3em;
    }

    100% {
            padding-top: 0em;
      }
  }

p {
    letter-spacing: 1.5px;
}

.empty {
    height: 21.5px;
}

.text-wrapper {
    width: 60%;
}

#text-wrapper-s2k {
    width: 100%;
}

.button {
    background-color: var(--red);
    padding: 1.5em 4em;
    align-items: center;
    display: flex;
    border-radius: 4em;
    white-space: nowrap;
    color: white;
    font-weight: 700;
    font-size: 1em;
    box-shadow: 0;
    transition: all 0.3s ease;
    transform-origin: center;
    text-align: center;
}

.button:hover {
    font-size: 1em;
    padding: 1.6em 4.1em;
    transform-origin: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.button-box {
    height: 10vh;
}


h3 {
    color: var(--white);
}

#logo {
    width: 120px;
    transition: all 0.5s ease;
}

#placeholder {
    top: 10em;
    width: 120px;
    transition: all 0.3s ease;
    position: absolute;
    opacity: 0;
}

.card-image1 {
    background-image: url(/img/markus-schmidt-wwTmJu0HxDg-unsplash.jpg);
    background-size: cover;
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
    height: 10vw;
    aspect-ratio: 1/1.5;
    margin-bottom: 0.5em;
}

.card-title {
    color: var(--darkgray);
    letter-spacing: 1.5px;
    text-align: center;
}

.card-info, .card-date {
    color: var(--darkgray);
    font-weight: 300;
    letter-spacing: 1.5px;
    text-align: center;
}

.card-date {
    position: relative;
    text-align: right;
    padding-top: 1em;
    padding-right: 1em;
}

.s3k {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    min-height:50vh;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 5em;
    padding-bottom: 2em;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.s3k div:nth-child(odd) {
    border-top: 1px solid var(--darkgray);
    width: 65vw;
    margin-bottom: 4em;
    margin-top: 4em;
}
.images-s3k {
    height: 30vh;
    width: 70vw;
    align-items: flex-end;
    justify-content: center;
    display: flex;
    margin-left: 2em;
    margin-right: 2em;
    background-color: var(--gray);
    color: var(--red);
    text-transform: uppercase;
    font-weight: lighter;
    background-size: cover;
    letter-spacing: 6px;
    padding-bottom: 1em;
}

.images-s3k:nth-child(7) {
    margin-bottom: 4em;
}

.images-s3k a {
    color: var(--red);
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: larger;
    
}

.images-s3k a:hover {
    color: black;
}

.s3k h2 {
    text-align: center;
    align-self: center;
    display: flex;
    max-width: 100vw;
    margin-bottom: 2em;
}

#image1 {
    background: linear-gradient(0deg, var(--white) 5%, rgba(255,255,255,0) 80%), url(/img/white/massage-white.jpg);
    background-size: cover;
}

#image2 {
    background: linear-gradient(0deg, var(--white) 5%, rgba(255,255,255,0) 80%), url(/img/white/energi.jpg);
    background-size: cover;
}

#image3 {
    background: linear-gradient(0deg, var(--white) 5%, rgba(255,255,255,0) 80%), url(/img/white/massage-white.jpg);
    background-size: cover;
}

#image4 {
    background: linear-gradient(0deg, var(--white) 5%, rgba(255,255,255,0) 80%), url(/img/white/massage-white.jpg);
    background-size: cover;
}

#image5 {
    background: linear-gradient(0deg, var(--white) 5%, rgba(255,255,255,0) 80%), url(/img/white/massage-white.jpg);
    background-size: cover;
}

#image6 {
    background: linear-gradient(0deg, var(--white) 5%, rgba(255,255,255,0) 80%), url(/img/white/massage-white.jpg);
    background-size: cover;
}


.s3h h2 {
    display: flex;
    justify-self: center;
    margin-bottom: 1.5em;
    margin-left: 2em;
    margin-top: 1.5em;
    width: 80%;
}



.gradientLeft {
    background-image: linear-gradient(90deg, var(--white) 10%, rgba(255,255,255,0) 100%);
    filter: blur(4);
    z-index: 6;
    position: absolute;
    height: 40vh;
    width: 30vw;
    pointer-events: none;
    opacity: 100%;   
    padding-bottom: 2em;
    opacity: 0;
    transition: 0.5s ease opacity;
   -moz-transition: 0.5s ease opacity;
   -o-transition: 0.5s ease opacity;
   -webkit-transition: 0.5s ease opacity;
}
.gradientRight {
    background-image: linear-gradient(-90deg, var(--white) 10%, rgba(255,255,255,0) 100%);   filter: blur(4);
    z-index: 6;
    position: absolute;
    right: 0;
    height: 40vh;
    width: 30vw;
    pointer-events: none;
    opacity: 100%;

    transition: 0.5s ease opacity;
   -moz-transition: 0.3s ease opacity;
   -o-transition: 0.3s ease opacity;
   -webkit-transition: 0.3s ease opacity;
}
.card-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 24%;
    max-width: 100vw;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scrollbar-width: thin;
    scrollbar-color: var(--white) var(--white);
}
.card-wrapper:hover {
    scrollbar-color:unset;
}

.card {
    background-color: var(--gray);
    border-radius: 15%;
    width: 18vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 1em;
    z-index: 5;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.15);

}

.gradient-box {
    position: absolute;
    height: 40vh;
    
    align-items: center;
    width: 100vw;
    pointer-events: none;
}
#box-right {

    top: 0;
    margin-top: 5em;
    transform: rotate(-90deg);
    right: 0%;
    z-index: 7;
    margin-right: 2em;
    transition: 0.5s ease opacity;
    position: absolute;
}
#box-left {
    top: 0;
    margin-top: 5em;
    transform: rotate(90deg);
    left: 0%;
    z-index: 7;
    margin-left: 2em;
    transition: 0.5s ease opacity;
    transform-origin: center;
    position: absolute;
    opacity: 0;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    max-width: 100vw;

}

.icon {
    z-index: 50;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box {
    width: 48px;
    height: 48px;
    background-color: var(--darkgray);
    border-radius: 100%;
    padding: 0px;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    box-shadow: none;
}

.icon-box:hover {
    width: 50px;
    height: 50px;
    padding: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    cursor: pointer;

}

svg circle {
    z-index: 1;
    position: absolute;
}

.icon-div {
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-footer {
    text-align: center;
    color: var(--darkgray);
}

table {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1000px) {

}